<div class="background">
  <div class="login-container">
    <div class="text-container">
      <h1>Hi Guest</h1>
      <p>
        Want to create an account? Then click Sign up button below.
      </p>
      <button mat-button routerLink="/register">Sign up</button>
    </div>
    <div class="form-container">
      <h1>Login</h1>
      <button class="mat-raised-button" (click)="loginWithGoogle()">
        Sign In with Google
      </button>
      <h5>Or sign in with your email</h5>
      <login-form (formData)="login($event)"></login-form>
    </div>
  </div>
</div>
